# Python cache
__pycache__/
*.pyc

# Django static & compiled files
staticfiles/

# Local database — DO NOT upload to Git or EB
db.sqlite3

# Environment folders
env/
venv/

#Add the AWS service Keys file to the Github because the git main push failed
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.elasticbeanstalk/config.yml
roomsearch/.pypirc

# Spark
spark-3.5.8-bin-hadoop3.tgz
