{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Room Type</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>

<div class="container">
  <div class="form-card">
    <h1>{% if action == "Edit" %}✏️ Edit Room Type{% else %}➕ Add Room Type{% endif %}</h1>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <label for="layout" class="form-label">Layout</label>
        {{ form.layout }}
      </div>

      <div class="mb-3">
        <label for="occupancy" class="form-label">Occupancy</label>
        {{ form.occupancy }}
      </div>

      <div class="mb-3">
        <label for="bed_size" class="form-label">Bed Size</label>
        {{ form.bed_size }}
      </div>

      <div class="form-check mb-3">
        {{ form.wifi }}
        <label class="form-check-label" for="wifi">Free Wi-Fi</label>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price (per night)</label>
        {{ form.price }}
      </div>

      <div class="mb-3">
        <label for="rating" class="form-label">Rating</label>
        {{ form.rating }}
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        {{ form.description }}
      </div>

      <!--<div class="mb-3">-->
      <!--  <label for="images" class="form-label">Upload Images</label>-->
      <!--  <input type="file" name="images" multiple class="form-control" accept="image/*">-->
      <!--  <small class="text-muted">You can select one or more images</small>-->
      <!--</div>-->

      <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary btn-lg">
        {% if action == "Edit" %}💾 Save Changes{% else %}Save Room Type{% endif %}
        </button>
        <a href="{% url 'list_room_types' %}" class="btn btn-outline-secondary btn-lg ms-2">Cancel</a>
      </div>

      <div class="text-center mt-4">
      {% if action == "Edit" and room_type %}
        <button type="submit" name="action" value="delete" 
                class="btn btn-danger mb-3"
                onclick="return confirm('Are you sure you want to delete this room type?');">
            🗑 Delete Room Type
        </button>
        {% endif %}
        </div>

    </form>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
